########
# Please copy it as build.properties (in the same folder as this file), 
# and change the properties as needed



# Properties for Deployment to Tomcat

# app
app.name=emf
app.version=0.1
  
# basic settings
catalina.home=<full path to Tomcat home i.e. installation directory >


# Tomcat Manager
tomcat.manager.username=admin
tomcat.manager.password=admin
tomcat.manager.url=http://localhost:8080/manager
